.wrapper__product {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 103px; 

    &__filter{
        width: 20%; 
        // padding: 20px; 
        opacity: 0;
        animation: slideRight .5s ease forwards;
        animation-delay: calc;
        border-bottom: 1px solid #000;
    }

    &__productList{
        width: 80%; 
        padding: 20px; 
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        // animation: slideTop .5s ease forwards;
        // animation-delay: calc(0.2s * var(--i));

        &__filterViewer{
            opacity: 0;
            animation: slideLeft .5s ease forwards;
            animation-delay: calc(0.2s * var(--i));
        }
        
        &__products{
            opacity: 0;
            animation: slideTop .5s ease forwards;
            animation-delay: calc(0.2s * var(--i));
        }

    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
        
    } 
    100% {
        transform: translateX(0);
        opacity: 1;

    } 
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
        
    } 
    100% {
        transform: translateX(0);
        opacity: 1;

    } 
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
        
    } 
    100% {
        transform: translateY(0);
        opacity: 1;

    } 
}



