
.wrapper__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px; 
    width: 100%;
    background-color: #eaeaea;
    border-top: 1px solid black;
    position: relative;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
    }
}

// .ant-input-affix-wrapper {
//     width: 100%;
//     max-width: 400px; /* Điều chỉnh chiều rộng tối đa của ô search */
//     height: 45px;
//     margin-left: 100px;
// }

// .search-input {
//     width: 100%;
//     max-width: 805px;
//     height: 45px;
//   }
.autocomplete-custom .ant-input-search-button {
    display: none; /* Ẩn icon tìm kiếm */
  }
  .search-input-custom input {
    border-radius: 0px !important; /* Loại bỏ border radius của input */
  }
  .search-input-custom input {
    border-radius: 0px !important; /* Loại bỏ border radius của input */
    width: 100%;
    max-width: 805px;
    height: 45px;
  }
  